.comment {
    margin: 10px 0;
    border-radius: 10px;
    padding: 2px 5px;

    background: #3861fb;
    color: white;
}

.header {
    display: flex;
    flex-direction: column;

    background: transparent;
}

.header_det {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_det p {
    color: black;
}

.commentText {
    font-size: 1rem;
    margin: 5px;
}
