.textInputWrapper {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;

    gap: 10px;
}

.textInputWrapper input {
    padding: 10px;

    color: #000;

    outline: none;
    width: 30%;
    border-radius: 10px;
    font-size: 16px;
}

.errorMessage {
    color: #de1b55;
    text-align: center;
    width: 30%;
}
